h2{
    color: #3e8d9f;
    text-decoration: underline;
    text-decoration-color: green;
}

.about-intro{
    padding-top: 15vh;
    background-color: #3e8d9f;
    text-align: center;
}
.about-intro h2{
    font-size: 40px;
    color: white;
    padding-top: 30px;
    text-decoration: none;
}
.about-intro .pr{
    font-size: 25px;
    color: white;
    
}
.about-intro .abt{
    font-size: 30px;
    color: white;
}
.history h2{
    font-size: 30px;
    padding-left: 50px;
}
.history p{
    font-size: 17px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: sans-serif;
}
.who-we-are h2{
    font-size: 30px;
    padding-left: 50px;
    padding-top: 10px;
}
.who-we-are p{
    font-size: 17px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: sans-serif;
}
.mission h2, .vision h2{
    font-size: 30px;
    padding-left: 50px;
    padding-top: 10px;
}
.mission p, .vision p{
    font-size: 17px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: sans-serif;
}
